<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method = 'POST'>
        <label>Username: </label><br>
        <input type = 'text' id = 'username1' name = 'fullname1'><br>
        <label>Password: </label><br>
        <input type = 'text' id = 'password1' name = 'pswrd1'><br>
        <br><input type = 'submit'><br>
    </form>
</body>
</html>